<h1>L01 - Dynamic List View - Articles - Content Tree</h1>

<p>Dynamic List View of child article content items based on child items in Sitecore content tree. Sorted by order in content tree.</p>

<h2>Utilized on the following pages:</h2>

<p>[list the page types this component is known for]</p>

<h2>Interactions</h2>

<p>[list interactions, if applicable]</p>

<h2>Fields Displayed</h2>

<p>Fields displayed include:</p>

<ul>
<li>Title</li>
<li>Short Descriptoin</li>
<li>Image - Thumbnail version.</li>
<li>Title is a link, Image is a link.</li>
</ul>


<h2>Notes</h2>

<ul>
<li>If no image, leave blank. Do not replace with placehlder.</li>
<li>This is structurally identical to L02 - Dynamic List View - Articles - Tags</li>
</ul>

